@import '../../variables.scss';

.carousel{
    position: relative;
    display: flex;
    align-items: center;
    height: 320px;
    width: 500px;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
    &--button{
        position: absolute;
        color: $secondary_color;
        width: 33px;
        height: 33px;
        &.left{
            left: 0;
            top: 160px;
        }

        &.right{
            top: 160px;
            right: 0;
        }
    }
    &--slides{

        img{
            object-fit: contain;
            border-radius: 20px;
            width: 500px;
            height: 320px;
        }
    }
}
