@import '../../variables.scss';

.aboutSection{
   
    max-width: 60%;
    &--info{
        margin: 0;
        font-size: 20px;
    

        
    }
    &--title{
        font-size: 40px;
        color: $secondary_color;
    }
}


@media (max-width: 600px){
    .aboutSection{
   
        max-width: 100%;
        &--info{
            display: flex;
            justify-content: center;
            margin: 0;
            font-size: 25px;

            max-width: 90vw;
            
        }
        &--title{
            font-size: 30px;
            color: $secondary_color;
        }
    }
}