@import '../../variables.scss';

.aboutSection{
   
    max-width: 60%;
    &--info{
        margin: 0;
        font-size: 20px;
    

        
    }
    &--title{
        font-size: 40px;
        color: $secondary_color;
    }
}