.fadeExperience{
    opacity: 0;
    transform: translateY(10vh);
    visibility: hidden;
    transition:  0.7s ease-in;
    will-change: opacity, visibility;
}

.fadeExperience.showingE {
    opacity: 1;
    transform: none;
    visibility: visible;
}